{
  "presets": [
    ["env", { "modules": false }],
    "react",
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ]
  ],

  "env": {
    "production": {
      "plugins": [["react-remove-properties", { "properties": ["data-test"] }]]
    },
    "test": {
      "presets": ["es2015", "react"]
    }
  }
}
