$border: #eee;
$selected: #ecf0f1;

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.picky {
  width: 100%;
  position: relative;
  * {
    box-sizing: border-box;
  }

  &__input {
    width: 100%;
    background-color: white;
    border: 0;
    border-width: 1px;
    border-color: $border;
    border-style: solid;
    border-radius: 2px;
    padding: 5px;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    height: 38px;
    &::after {
      position: absolute;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: '';
      right: 16px;
      top: 16px;
    }
  }

  &__dropdown {
    @include noselect;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: white;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
    top: 39px;
    .option,
    li {
      list-style: none;
      @include noselect;
      padding: 0.5em;
      cursor: pointer;
      border-bottom: 1px solid $border;
      text-align: left;
      &:hover {
        background-color: $selected;
      }
      &.selected {
        background-color: $selected;
      }
      &:focus {
        outline: -webkit-focus-ring-color auto 5px !important;
      }

      input[type='checkbox'],
      input[type='radio'] {
        margin-right: 3px;
      }
    }
  }
  &__filter {
    display: flex;
    width: 100%;
    padding: 3px;
    &__input {
      width: 100%;
      padding: 3px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: relative;
      height: 30px;
    }
  }
}
