.picky {
  width: 100%;
  position: relative;
}

.picky__input {
  width: 100%;
  background-color: #fff;
  border: 0;
  border-width: 1px;
  border-color: #eee;
  border-style: solid;
  border-radius: 2px;
  padding: 1em;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  height: 38px;
}
.picky__input::after {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: '';
  right: 1.5em;
  top: 1.5em;
}

.picky__dropdown {
  width: calc(100% - 2px);
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  top: 39px;
}
.picky__dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.picky__dropdown ul > li {
  padding: 0.5em;
  cursor: pointer;
  border-bottom: 1px solid rgb(247, 246, 246);
}

.picky__dropdown ul > li:hover {
  background-color: rgb(235, 235, 235);
}

.picky__dropdown ul > li.selected {
  background-color: red;
}
